
#botao{
    background-color: red;
    color: white;
    
}

#texto{
    width: 100px;
    height: 20px;
}


#titulo{
    color:  red;

}
#paragrafo{
    font-weight: bold;
}
#imagem{
    width: 400px;
    height: 600px;
    background-image: url(imagemgato.jpeg) ;
    text-shadow: white 0px 0px 2px;
    font-size: 16px;
    background-size: 150px;
}

